.topbar{'data-scrollspy' => "scrollspy"}
  .fill
    .container
      %a.brand{href: "/"} Authentication using Socialite
      %ul.nav
        %li
          %a{href: "#seed-data"} Seed Data
        %li
          %a{href: "#oauth-endpoints"} OAuth Endpoints
        %li
          %a{href: "#tsa-api"} TSA API
        %li
          %a{href: "#client-applications"} Client Apps

