.hero-unit
  %h2 Socialite. A modular authentication system by Justin Smestad
  %p
    %a{href: "https://github.com/jsmestad/socialite"}Socialite
    is an awesome lightweight, modular authentication system built on top of Omniauth.
    Inspired by the great work of projects like Gatekeeper, Devise,
    Warden, and Omnisocial.

  %p
    %a.btn.primary.large{target: "_blank", href: "https://github.com/jsmestad/socialite"}Socialite on GitHub »

%section#about-app
  .row
    .span16
      = readme_to_markdown
